@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="about">
    <h1>OM KONSTHUSET</h1>
    <p>Konsthuset har funnits länge, här älskar vi ”bilder” dvs konst av olika slag som är skön för ögat.
        Här pratar vi inte så mycket om olika konstströmningar såsom t.ex. impressionism eller expressionism - här
        behövs inga
        kunskaper från konstvetenskapen - här njuter vi av de olika konstverken och antingen tycker vi om en bild eller
        inte.
        Många som besöker oss säger att de inte vet något om konst och därför har de svårt för att öppna sina sinnen.
        Vi säger bara: ”Tycker du om verket eller tycker du inte om det?” Svårare behöver det inte vara.</p>
    <p> Vi jobbar inte regelbundet med vernissager och separatutställningar utan vi har en stående utställning som
        ändrar skepnad i takt med försäljning och nyförvärv.</p>
    <p>Du finner oss på Stationsvägen 22 i Åre, granne med Studion Åre dvs längst upp innan viadukten under E14.</p>
    <p>Bonus: professionell ramverkstad</p>
    <p>Öppettider: fredag-lördag kl 12-16 (övriga tider - ring Hans Post på 070-6543 100)</p>
    <img src="/image/Konsthuskarta.png">
</section>