@{
    ViewData["Title"] = "Admin page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="about">
    <h1>ADMIN</h1>
    <p>Logga in i menyn uppe till höger.</p>
    <p>Här kan du sedan uppdatera innehållet som presenteras på webbplatsen.
        Behöver du uppdatera något kan du självklart göra det också.</p>
</section>