@model Konsthuset.Models.Artwork

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Artwork</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ArtName" class="control-label"></label>
                <input asp-for="ArtName" class="form-control" />
                <span asp-validation-for="ArtName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtYear" class="control-label"></label>
                <input asp-for="ArtYear" class="form-control" />
                <span asp-validation-for="ArtYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtistName" class="control-label"></label>
                <input asp-for="ArtistName" class="form-control" />
                <span asp-validation-for="ArtistName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtTechnique" class="control-label"></label>
                <input asp-for="ArtTechnique" class="form-control" />
                <span asp-validation-for="ArtTechnique" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtPrice" class="control-label"></label>
                <input asp-for="ArtPrice" class="form-control" />
                <span asp-validation-for="ArtPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtWidth" class="control-label"></label>
                <input asp-for="ArtWidth" class="form-control" />
                <span asp-validation-for="ArtWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtHeight" class="control-label"></label>
                <input asp-for="ArtHeight" class="form-control" />
                <span asp-validation-for="ArtHeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" accept="image/*" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <!--
            <div class="form-group">
                <label asp-for="ImageName" class="control-label"></label>
                <input asp-for="ImageName" class="form-control" />
                <span asp-validation-for="ImageName" class="text-danger"></span>
            </div> -->
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
